<div class="generation-form">
  <h3>Генерация рядов в мультиполигоне</h3>
  <form [formGroup]="generateRowsForm">
    <div class="form-column">
      <label>
        Шаг между рядами (в метрах)
        <input formControlName="step" type="number" min="1">
      </label>
      <label>
        Угол (в градусах)
        <input formControlName="angle" type="number" min="0" max="360">
      </label>
      <label>
        Масштаб (по умолчанию 1)
        <input formControlName="scale" type="number" min="1" step="0.1">
      </label>

      @if (generateRowsForm.touched && generateRowsForm.invalid) {
        <small class="form-validation">Масштаб не должен быть меньше 1</small>
      }

      <label>
        Направление нумерации
        <select formControlName="direction">
          <option value="left-to-right">Слева направо</option>
          <option value="right-to-left">Справа налево</option>
          <option value="top-to-bottom">Сверху вниз</option>
          <option value="bottom-to-top">Снизу вверх</option>
        </select>
      </label>
    </div>
    <div class="buttons">
      <button type="button" (click)="resetRowsFormAndPreview()">Редактировать</button>
      <button type="button" (click)="generateRows()">Сгенерировать</button>
      <button type="button" (click)="saveRows()" [disabled]="!lines().length">Сохранить</button>
    </div>
  </form>
</div>
